body{
  margin: 0px;
  text-align:center;
  font-family: 'Merriweather', serif;

}
h1{
  margin: 0px;
  font-family: 'Sacramento', cursive;
  color: #DFF6FF;
}
.name{
  font-size: 280%;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;

}
.p1{
    color: #E8A0BF;
}
hr{
  border-style: dotted none none;
  border-width: 7px;
  height: 0px;
  width: 5%;
  border-color: #C689C6;
  margin: 40px auto;
}
a{
  color: #C689C6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #F2F2F2;
}

.top{
  background-color: #C689C6;   /*F4BFBF*/
  padding-top: 100px;
  position: relative;
}
.middle-container{
  background-color: #E8A0BF ;  /*FAF0D7 */
  padding:  50px 0;

}
.bottom-container{
  background-color: #FCC5C0 ;
  padding: 30px 0 20px 0;

}


.bottom-cloud{
  position: absolute;
  right: 50px
  left: 300px;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.p2{
  margin: 0 auto 30px auto;
}
.p3{
  padding: 15px 0 0 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
